/* Space out content a bit */
body {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    padding-bottom: 1rem;
    border-bottom: .05rem solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 1.5rem;
    color: #777;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
        max-width: 46rem;
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* image overlay */
.image-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 9999;
    display: none;
}
.image-overlay .image-overlay-close {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #eee;
    line-height: 35px;
    font-size: 20px;
    color: #eee;
    text-align: center;
    cursor: pointer;
}
.image-overlay img {
    width: auto;
    max-width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.form-check {
    margin-bottom: 0 !important;
}
.result-item {
    display: inline-block;
}
.result-item:first-child {
    text-align: right;
}
.result-item:last-child {
    text-align: left;
}
.btn {
    text-transform: none !important;
}
#timer-box, #customAlert {
    display: none;
}
.test-result {
    /*display: none;*/
}
#result-chart {
    min-width: 310px;
    height: 400px;
    margin: 0 auto;
}